*
!.dockerignore
!Dockerfile.referee
!package.json
!LICENSE
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!showdown.lock.json
!tsconfig.json
!tsconfig.frozen-circuit.json
!src/
!src/**
!tools/
!tools/setup-showdown.mjs
!tools/frozen-circuit-referee.ts
!tools/vgc-circuit-referee
!boards/
!boards/regmb-202607.json
!teams/
!teams/vr-aug26-top8/
!teams/vr-aug26-top8/pool.json
!teams/vr-aug26-top8/sources.json
!teams/vr-aug26-top8/spreads.json
!teams/vr-aug26-top8/*.team
