min-release-age=10080
registry=https://registry.npmjs.org/
ignore-scripts=true
strict-allow-scripts=true
yes=false
save-exact=true
allow-git=none
allow-remote=none
allow-file=none
allow-directory=none
engine-strict=true
audit=true
audit-level=moderate
strict-ssl=true
